<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
<!--        驼峰命名封装，例如：
            数据库中attribute名为user_id
            开启后Java domain中自动封装进userId-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
</configuration>